VITE_USER_POOL_ID=us-east-1_XXXXXXXXX
VITE_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_UPLOAD_URL_ENDPOINT=https://xxxxxxxxxx.lambda-url.us-east-1.on.aws/
VITE_GALLERY_ENDPOINT=https://xxxxxxxxxx.lambda-url.us-east-1.on.aws/
VITE_ALBUMS_ENDPOINT=https://xxxxxxxxxx.lambda-url.us-east-1.on.aws/
VITE_CLOUDFRONT_DOMAIN=dxxxxxxxxxx.cloudfront.net
